html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  flex: 1;
}

.bg-dark {
  background-color: #000000 !important;
}

.introduce {
  background: linear-gradient(135deg, #e3e2e2, #6d6d6d);
}

.title {
  background: linear-gradient(135deg, #1a1a1a, #6d6a6a);
  color: #fff;
  padding: 100px 0;
}

.about .container {
  padding: 1.5rem;
  border-top: 2px solid #2b2b2b;
  border-bottom: 2px solid #2b2b2b;
}

.contact-info {
  background-color: #000;
  background-image: url("img/wechat.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px auto;
  padding: 80px 0;
  color: #fff;
}

#footer-placeholder {
  background: url("img/footer.jpg") no-repeat center center;
  background-size: cover;
}

body.previous-work {
  background-color: #fff;
}

body.projects-page {
  background-color: #fff;
}

body.about-page {
  background-color: #fff;
}

.carousel-item img {
  height: 300px;
  object-fit: contain;
  width: 100%;
}

body.contact-page {
  background-color: #fff;
}
